<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Theme Portfolio</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="stylesheet" type="text/css" href="about.css">


</head>
<body>
<div class="header">

    <div class="logo"></div>

    <nav>
        <a href="">About me</a>
        <a href="">Education</a>
        <a href="">Work</a>
        <a href="">Contact</a>
    </nav>

    <h1><span class="MyTheme">My Theme</span></h1>
    <p class="kicker">Thinker // Designer // Changer</p>

</div>
<section>

    <h3>About Myself</h3>

    <div class="face-img"></div>

    <div class="blurb">

        <p><strong>Hello, I’m Magdalena Wojnicka a multidisciplinary Designer:</strong><br>
        Architect, Interior and Garden Designer based in TriCity.
        I'm also a very enthusiastic Junior FrontEnd Developer
        with big aspirations in this field.<br>
        I'm keen on sketching by hand, handicraft works,
        learning new technologies, developing my skills in different fields
        and working for causes that matter.<br>
        In my free time, I volunteer in architectural education of kids and teenagers,
        and I take part in the beautification of the rural area I live in.<br>
        My goal is to collaborate with like-minded individuals who do care about aesthetic around us
        and want to spend their time on giving youth a good example in that field.</p>

    </div>

    <h3>MY SKILLS</h3>

    <div class="skill-lockup">

        <div class="skill-unit">
            <div class="skill-label">Communication</div>
            <div class="skill-icons">
            </div>

            <div class="skill-label">Organization</div>
            <div class="skill-icons">
            </div>

            <div class="skill-label">Learning</div>
            <div class="skill-icons">
            </div>

            <div class="skill-label">Teaching</div>
            <div class="skill-icons">
            </div>

            <div class="skill-unit">
                <div class="skill-label">Planning</div>
                <div class="skill-icons">
                </div>
            </div>

            <div class="skill-unit">
                <div class="skill-label">Visual Design</div>
                <div class="skill-icons">
                </div>
            </div>

            <div class="skill-unit">
                <div class="skill-label">UX Design</div>
                <div class="skill-icons">
                </div>

                <div class="skill-unit">
                    <div class="skill-label">Programming</div>
                    <div class="skill-icons">
                    </div>
                </div>


            </div>
        </div>
</section>



<div class="footer">

    <div class="content-wrap">
        <nav>
            <a href="">About me</a>
            <a href="">Education</a>
            <a href="">Work</a>
            <a href="">Contact</a>
        </nav>

        <p class="copyright">All content copyright 2017</p>

    </div>

</div>
</body>
</html>