<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Theme Portfolio</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="footer.css">

</head>
<body>
<div class="header">

    <div class="logo"></div>

    <nav>
        <a href="">About me</a>
        <a href="">Education</a>
        <a href="">Work</a>
        <a href="">Contact</a>
    </nav>

    <h1><span>My Theme</span></h1>
    <p class="kicker">Thinker // Designer // Changer</p>

</div>

<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada
    elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo
    volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit
    amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum
    adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id,
    eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in,
    purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque
    penatibus et</p>

<div class="footer">

    <div class="content-wrap">
        <nav>
            <a href="">About me</a>
            <a href="">Education</a>
            <a href="">Work</a>
            <a href="">Contact</a>
        </nav>

        <p class="copyright">All content copyright 2017</p>

    </div>

</div>
</body>
</html>